
<main class="session">
<div class="session__header">
<%=link_to user_path(current_user) do %>
<i class="fas fa-bars"></i>

<%end%>

<div class="session__head">My Habit session</div>


</div>

<div class="session__stats">
<div class="session__total">Total Habit Count duration</div>
<div class="session__count">23</div>



</div>
<div  class="session__card">
<%@session.each do |session|%>
<div class="card">
<div class="card__image">
<%=group_check(session)%>
</div>
<div class="card__details">
<div class="card__title"><%=session.name%></div>
<div class="card__amount"><%=session.amount%></div>
</div>
<div class="card__date"><%=session.created_at.strftime("%B %d at %I:%M %P")%></div>



</div>





<%end%>
</div>

<div class="session__new">
<%=link_to "Add New Event",new_session_path,class:"session__new_button"%>
</div>
</main>