<section class="profile">

<div class="group__container ">

<div class="home"><%= link_to user_path(current_user) do %>
<i class="fas fa-arrow-left"></i>
<%end%>
</div>
<div class="group__name"> Group</div>


</div>



<%@group.each do |g|%>

<%= link_to group_path(g) do %>
<div class="group">
<%= image_tag g.icon,class:"group__icon", onerror: "this.error=null;this.src='https://placeimg.com/50/50/tech'"%>

<div class="group__text"> <%=g.name%> </div>
<div class="group__create"><%=g.created_at.strftime("%B %d at %I:%M %P")%></div>
</div>
<%end%>


<%end%>
<div class="group">
<i class="far fa-plus-square"></i>

<div class="group__text"> <%= link_to 'Create New Group', new_group_path %> </div>
</div>



</section>
<div class="sidepanel">

  
  <iframe  title="My Sessions" src="/sessions/filter/mysession" >
    <p>Placeholder text; only shows up if the page DOESN'T render!</p>
  </iframe>
  <%= link_to filtered_sessions_path(:mysession) do %>
  <% end %>
  
</div>