<%=form_with(model:@group,local:true) do |f|%>
  <div class="header">
    <div class="icon">
      <%=link_to groups_path do %>
        <i class="fas fa-arrow-left"></i>
      <%end%>
    </div>
    <div class="title">Add New Group</div>
    <div class="submit"><%=f.submit "Save",class:"submit-1"%></div>
  </div>
  <%=render 'shared/errors',object:@group%>
  <%=f.text_field :name,required:true,autofocus:true,placeholder:"Name of the group",class:"input"%>
  <%=@group.icon=""%>
  <%=f.text_field :icon,placeholder:"https://website.com/image.png",class:"input"%>
<%end%>
